body {
    color: rgb(106, 0, 133);
    background: rgb(145, 0, 60);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 10px rgb(255, 0, 119);
    padding: 20px;
    font-size: 32px;
    color: rgb(174, 0, 255);
}

.chamada {
    background: rgb(255, 0, 106);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 20px;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

.categoria-videos {
    display:flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity:1.0;
    border: 5px solid rgb(222, 8, 72);
}

.categoria h2{
    color: rgb(39, 10, 51);
}