body {
    color: rgb(184, 30, 163);
    background: rgb(255, 31, 199);
    margin: 0px;
    font-family: "Cossette Texte", sans-serif; }

header {
     border-bottom: solid 2px rgb(172, 26, 164);
     padding: 20px;
     font-size: 42px;
     color: rgb(167, 30, 144);
}

/* código omitido */

section {
    background: rgba(119, 7, 100, 0.817);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}